# 构建产物
dist/
.claude/
__pycache__/
*.pyc

# 系统文件
Thumbs.db
.DS_Store
desktop.ini
wiki/蕾蒂茜娅的魔女屋（守护之手修改） .wikitext
wiki/蕾蒂茜娅的魔女屋（守护之手修改） .xlsx
wiki/龙巢（公共建筑） - 新品上线ovo！ (3).wikitext
wiki/龙巢（公共建筑） - 新品上线ovo！ (3).xlsx
wiki/玩家名人堂.wikitext
wiki/wiki_mainpage.wikitext
